@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom tweaks */
html, body, #root { height: 100%; }
.hearts-container { position: absolute; inset: 0; overflow: hidden; pointer-events: none; }
